<h1>About this site</h1>
<p>This amazing tiny site is a mini project created by Ashir Qureshi,
  for his week 4 - day 1 Homework, as part of the CodeClan software development course
  delivered by a group of absolutely amazing trainers!</p>

<p>(I'm hoping sucking up gets extra imaginary browny points &#128513)</p>
