<h1>Welcome to Ash's Rock Paper Scissors Game!</h1>

<p class="welcome">Welcome to the home page for Ash's Rock Paper Scissors Game!</p>

<h2>How to Play:</h2>

<p>Please grab a tea or coffee and enjoy playing around with this simple rock, paper, scissors
game for like 2 minutes. It's a great way to while away 2 mins of your time and forget about
the world around you!</p>

<p>To play the game please type in the results for the two players draw into the address
bar using the following format: <i>xxxx:xxxx/play/player1_choice/player2_choice</i></p>
