
body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color:#f2f0f2;
  color: #ffffff;
}
h1, h2{
  text-align: center ;
  background-color: #aa00ff;
  padding: 5px;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.6em;
  text-align: center;
  padding: 20px;
  color: #e34646;
  background-color: #fafafa;
}
nav li {
  display: inline;
  font-size: 1.5em;
  padding: 10px;
  margin: 15px;
  border:15px;
  background-color: #aa00ff;
}
a{
  color: #ffffff;
}

p {
  font-size: 1.2em;
  background-color: #ffffff;
  color: #2e2b2e;
  padding: 10px;
  margin: 10px;
  border: 10px;
}

.welcome{
  text-align: center;
}
